html, body {
    margin: 0;
    padding: 0;
}

.btns {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 5;
}

.btn {
    padding: 10px 30px;
    border: 0;

    font-size: 24px;
    color: #c7c6c6;
    background-color: transparent;
}

.btn:hover {
    color: #000;
    background-color: #ffffff91;
    cursor: pointer;
}